'''
    Configuration file for database settings
'''

USERNAME = 'root'
PASSWORD = '27032002'
HOST = 'localhost'
PORT = '3306'
DATABASE = 'pizza_delivery_system'

DELIVERY_TIME_IN_MINUTES = 30
ORDER_CANCELLATION_TIMEFRAME = 5

ORDER_COMPLETION_TIME = DELIVERY_TIME_IN_MINUTES + ORDER_CANCELLATION_TIMEFRAME

# Creating the database URL
DATABASE_URL = f"mysql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
